{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "eslint-comments/disable-enable-pair": ["error", { "allowWholeFile": false }],
    "eslint-comments/no-aggregating-enable": "error",
    "eslint-comments/no-unlimited-disable": "error",
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/no-unused-enable": "error"
  },
  "plugins": ["eslint-comments"]
}
